@model GamingE_Commerce.Models.Game

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GameName" class="control-label"></label>
                <input asp-for="GameName" class="form-control" required />
                <span asp-validation-for="GameName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameDescription" class="control-label"></label>
                <input asp-for="GameDescription" class="form-control" />
                <span asp-validation-for="GameDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GamePrice" class="control-label"></label>
                <input asp-for="GamePrice" class="form-control" />
                <span asp-validation-for="GamePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameReleased" class="control-label"></label>
                <input asp-for="GameReleased" class="form-control" />
                <span asp-validation-for="GameReleased" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Platform</label>
                <select asp-for="PlatformId" class="form-control" asp-items="ViewBag.PlatformId"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Publisher</label>
                <select asp-for="PublisherId" class="form-control" asp-items="ViewBag.PublisherId"></select>
            </div>
            <div class="form-group">
                <label class="control-label">User Rating</label>
                <select asp-for="UserReviewId" class="form-control" asp-items="ViewBag.UserReviewId"></select>
            </div>
            <div class="form-group">
                <label asp-for="VideoLinkName" class="control-label"></label>
                <input asp-for="VideoLinkName" class="form-control" />
                <span asp-validation-for="VideoLinkName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" accept="image/*" required />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" style="border-radius:6px">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
