@using GamingE_Commerce.Models;
@{
    ViewData["Title"] = "OrderSuccess";
}

<div class="jumbotron text-center">
    <h1 class="display-3">Thank You!</h1>
    <br />
    <h2> Our team are working hard to complete your order. </h2>
    
    <hr>
   
    <p class="lead">
        
        <a class="btn btn-primary btn-sm" asp-controller="Games" asp-action="Index" role="button">Continue to homepage</a>
    </p>
</div>

